
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

.container-fluid {
	background: url(https://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg);
	background-color: #cccccc;
	background-size: 1500px 1000px;
}

#wholething{
   position: absolute;
   top: 50%;
   margin-top: -200px;/* half of #content height*/
   left: 0;
   width: 100%;
}

h1 {
	text-align: center;
}
h4 {
	text-align: center;
}

#display {
	text-align: center;
	font-size:32px
}
#display1 {
	text-align: center;
	font-size:32px
}

p {
	color: black;
}

footer {
    position:fixed;
    bottom:0;
}
 